
.ccanvas_container_div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ccanvas {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}