
.ccanvas_container_div {
  /* position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%,-50%); */
}

.ccanvas {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.images {
  width: 250px;
  height: auto;
}